<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue Testing</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div id="app">
            <header></header>
            <main>
                <div class="container">
                    <h1>{{ appName }}</h1>
                    <article v-for="p in colors" class="o-palette__container">
                        <h2 class="o-palette__name"></h2>
                        <ul class="o-palette">
                            <li class="o-color--primary" style="background:#303841;"></li>
                            <li class="o-color--secondary" style="background:#3A4750;"></li>
                            <li class="o-color--accent" style="background:#D72323;"></li>
                            <li class="o-color--bg" style="background:#EEEEEE;"></li>
                        </ul>
                    </article>
                </div>
            </main>
            <footer></footer>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.js"></script>

        <script src="app/lib/js/app.js"></script>
    </body>
</html>
