html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  max-width: 96rem;
  margin: 0 auto;
}
.o-palette {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
}
.o-palette__container {
  display: -ms-flexbox;
  display: flex;
  max-width: 314px;
}
li[class^="o-color"] {
  display: block;
  height: 5.5rem;
}
