html { font-size: 62.5%; }
body { font-size: 1.6rem; }
.container {
    max-width: 96rem;
    margin: 0 auto
}
.o-palette {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__container {
        display: flex;
        max-width: 314px;
    }
}
li[class^="o-color"] {
    display: block;
    height: 5.5rem;
    // width: 5.5rem;
}
.o-color {

}
